<form method="POST" action="process.php?type=course">
    <label for="course_name">Name: <input type="text" name="course_name" value="[course_name]"/></label>
    <br>
    <label for="date">Date: <input type="text" name="date" value="[date]"/></label>
    <br>
    <label for="fee">Fee: <input type="text" name="fee" value="[fee]"/></label>
    <br>
    <label for="programme">Programme: <input type="text" name="programme" value="[programme]"/></label>
    <br>
    <label for="requirement">requirement: <input type="text" name="requirement" value="[requirement]"/></label>
    <br>
    <div class="keyword">
        <input type="text" value="[tag]" name="tag"/>
    </div>
    <br>
    <label for="description">Description: </label>
    <textarea name="description" style="display: block;" rows="15" cols="40">[description]</textarea>
    <input type="submit" name="save" value="Save"/>
    <input type="submit" name="delete" value="Delete"/>
    <input type="hidden" name="key" value="[key]"/>
    <hr>
</form>